{% extends "network/layout.html" %}

{% block body %}
  <div class="container">
    <h1>{{ title }}</h1>

    {% if user.is_authenticated %}
      <div class="card">
        <div class="card-body">
          <form id="text-post-form" action="/new-post" method="post">
            {% csrf_token %}
            <div class="form-group">
              <h5 class="card-title">
                <label for="text-post">New Post</label>
              </h5>
              <textarea
                class="form-control"
                id="text-post"
                name="text"
                aria-describedby="text-post"
                placeholder="Share your thoughts..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
          </form>
        </div>
      </div>
    {% endif %}

    {% for post in page_obj %}
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">
            <a href="/u/{{ post.user.username }}">{{ post.user.username }}</a>
          </h5>

          {% if post.user == request.user %}
            <button class="btn btn-link post-edit-button" data-id="{{ post.pk }}">Edit</button>
            <div style="display: none" id="edit-post-{{ post.pk }}">
              <label>
                <textarea
                  class="card-text-edit"
                  data-id="{{ post.pk }}"
                  id="edit-post-textarea-{{ post.pk }}"
                  name="text"
                >{{ post.text }}</textarea>
              </label>
              <div>
                <button
                  type="button"
                  class="btn btn-primary edit-submit-button"
                  id="edit-submit-button-{{ post.pk }}"
                  data-id="{{ post.pk }}"
                >Save
                </button>
              </div>
            </div>
          {% endif %}

          <p class="card-text" id="post-text-{{ post.pk }}">{{ post.text }}</p>
          <h6 class="card-subtitle mb-2 text-muted">{{ post.created_at }}</h6>
          <h6 class="card-subtitle mb-2 text-muted likes-count likes-count-{{ post.id }}" data-id="{{ post.id }}">
            ❤ {{ post.likes.count }} likes</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{ post.comments.count }} comments</h6>
          <button type="button" class="btn btn-primary comment-button comment-button-{{ post.id }}">Comment</button>
        </div>
      </div>
    {% endfor %}

    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}

        </span>
    </div>
  </div>
{% endblock %}
